.estudios-container-flex{

	display: flex;    
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    background: #cfcfcf;
}
#estudios .estudios-caja1{
    flex-grow: 2;
    flex-basis: 40%;
}
#estudios .estudios-caja2{
    flex-grow: 1;
    flex-basis: 40%;
}
#estudios .estudios-caja3{
    flex-grow: 1;
    flex-basis: 40%;
}
#estudios .estudios-caja4{
    flex-grow: 1;
    flex-basis: 40%;
}
#estudios .iconos{
	display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
  padding-left: 25%;
  background: white;
}
#estudios .iconos h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px; 
}
#estudios .iconos h3 a {
  color: #37423b;
  transition: 0.3s;
  text-decoration: none;
}
#estudios .iconos:hover {
  border-color: #0011ff;
}
#estudios .iconos:hover h3 a {
  color: #0011ff;
}
#estudios{
	position: relative;
	top: -30vh;
	padding-top: 0px;
	font-size: 32px;
    padding-right: 10px;
    line-height: 1;   
}

