
#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0px 0 18px rgba(8 14 51 / 45%);
  }
  
  .container h1, h2 {
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: left;
    padding: 0 0 10px 80px;
  }
  
  .container h1 {
    margin: 0;
      font-size: 48px;    
      line-height: 56px;
      color: #fff;
      font-family: "Poppins", sans-serif;
  }
  
  .container h2 {     
      color: #eee;
      margin: 10px 0 0 0;
      font-size: 24px; }
  
  @media (max-width: 750px) {
      #background-video { display: none; }
      body {
        background: url("imagenes/river.webp") no-repeat;
        background-size: cover;
      }
  }
  
  .container{
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
    top:-50vh;
  }  
  
  .porque-flex-container{
      display: flex;    
      justify-content: center;
      padding: 80px 10px 0 10px;
      width: 100%;
      margin: 0 auto;
      align-content: center;
      position: relative;
      top: -20vh;     
  } 
  
  .pqtarjeta{flex-grow: 1;
     
      box-sizing: border-box;
      padding: 20px;
      background: #0011ff;
      border-radius: 10px;
      color: #fff;
      margin: 10px;
      box-shadow: 0px 0 18px rgba(8 14 51 / 45%);
    }
  
  .pqcaja{flex-grow: 1;
     
      font-family: "Open Sans", sans-serif;
      color: #444444;   
      box-sizing: border-box;
      margin-top: 0!important;
      text-align: center;
      background: #fff;
      padding: 40px 30px;
      width: 100%;
      border: 1px solid #eef0ef;
    margin: 10px;
    box-shadow: 0px 0 18px rgba(8 14 51 / 45%);
}
  
  
  .pqtarjeta h3{
    font-family: raleway;
    font-size: 30px;
    text-align: center;
  
  }
  
  .pqcaja h4{
    font-size: 20px;
      font-weight: 700;
      margin: 0 0 30px 0;
  }
  
  .pqcaja p{
    font-size: 15px;
      color: #848484;
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: center;
  }

  .pqcaja .ima{
      margin:10px 0 20px 0;
      width: 30%;
  }

  .pqtarjeta p{
    font-size: 18px;
      color: #fff;
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: left;
  }
  
  
  
     
  